@charset "UTF-8";
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(28, 63, 96);
  position: fixed;
  width: 100%;
}

.inicio {
  background-image: url(../imágenes/backround-inicio.jpg);
  height: 100vh;
  background-size: 1400px;
  background-repeat: no-repeat;
}

.descubre {
  color: aliceblue;
  background-color: rgb(28, 63, 96);
  width: 15rem;
  height: 3rem;
  margin-top: 2rem;
}
.descubre:hover {
  color: rgb(210, 218, 224);
  background-color: rgb(10, 29, 46);
  text-decoration: none;
}

.proyecto {
  padding-top: 45px;
}

.pie {
  width: 100%;
  height: 60px;
  background-color: rgb(28, 63, 96);
  margin-top: 65px;
}

header {
  background-color: rgb(28, 63, 96);
  position: fixed;
  width: 100%;
}

.mapa {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mapa .area {
  background-color: rgb(28, 63, 96);
  color: rgb(255, 255, 255);
  height: 90px;
  width: 300px;
}

.pie {
  width: 100%;
  height: 60px;
  background-color: rgb(28, 63, 96);
  margin-top: 65px;
}

header {
  background-color: rgb(28, 63, 96);
  position: fixed;
  width: 100%;
}

.cape-coral {
  margin-top: 9rem;
}

.pie {
  width: 100%;
  height: 60px;
  background-color: rgb(28, 63, 96);
  margin-top: 65px;
}

header {
  background-color: rgb(28, 63, 96);
  position: fixed;
  width: 100%;
}

.nosotros {
  padding-top: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  text-align: center;
}

.pie {
  width: 100%;
  height: 60px;
  background-color: rgb(28, 63, 96);
  margin-top: 65px;
}

header {
  background-color: rgb(28, 63, 96);
  position: fixed;
  width: 100%;
}

.contacto {
  padding-top: 165px;
  height: 520px;
  display: flex;
  justify-content: center;
}
.contacto .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie {
  width: 100%;
  height: 60px;
  background-color: rgb(28, 63, 96);
  margin-top: 115px;
}

@media (max-width: 992px) {
  .mapa {
    padding-top: 155px;
  }
  .mapa .distancia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapa img {
    margin: auto;
    margin-top: 40px;
    width: 400px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .items-index {
    display: flex;
    flex-direction: column;
  }
  .contacto {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .contacto .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mapa {
    padding-top: 155px;
  }
  .mapa .distancia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mapa img {
    margin: auto;
    margin-top: 40px;
    width: 400px;
    display: flex;
    align-items: center;
  }
  .cape-coral {
    display: flex;
    flex-direction: column;
  }
  .lehigh {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=custom.css.map */
