@use "./reset";
@use "./header";
@use "./footer";
@use "./fuentes";

.contacto{
    padding-top: 165px;
    height: 520px;
    display: flex;
    justify-content: center;

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;

        .img__redes{
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 1.5rem;

            .redes__img{
                width: 50px;
            }
        }
    }
}