@use "./reset";
@use "./header";
@use "./footer";
@use "./fuentes";
@import "./variables";

.inicio{
    background-image: url(../imágenes/backround-inicio.jpg);
    height: 100vh;
    background-size: 1400px;
    background-repeat: no-repeat;
}

.descubre{
    color: $color-letras;
    background-color: $color-principal;
    width: 15rem;
    height: 3rem;
    margin-top: 2rem;
    &:hover{
        color: $color-letras-hover;
        background-color: $color-principal-hover;
        text-decoration: none;
    }
}

.proyecto{
    padding-top: 45px;
}