@use "./reset";
@use "./header";
@use "./footer";

.inicio{
    background-image: url(../imágenes/backround-inicio.jpg);
    height: 100vh;
    background-size: 1400px;
    background-repeat: no-repeat;
}

.descubre{
    color: rgb(255, 255, 255);
    background-color: rgb(28, 63, 96);
    width: 15rem;
    height: 3rem;
    margin-top: 2rem;
    &:hover{
        color: rgb(210, 218, 224);
        background-color: rgb(10, 29, 46);
        text-decoration: none;
    }
}

.proyecto{
    padding-top: 45px;
}