@media (max-width: 992px){
    .mapa{

        padding-top: 155px;

        .distancia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .flip-card{
            margin-top: 190px;
            margin-bottom: 90px;
            display: flex;
            align-items: center;
        }

    }

    .cape-coral{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lehigh{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lotesContenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px){

    .items-index{
        display: flex;
        flex-direction: column;
    }

    .contacto{
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .redes{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4rem;
        }

    }

    .mapa{

        padding-top: 155px;
        display: flex;
        flex-direction: column;

        .distancia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img{
            width: 300px;
        }

        .flip-card{
            margin-top: 170px;
            margin-bottom: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .cape-coral{
        display: flex;
        flex-direction: column;
    }

    .lehigh{
        display: flex;
        flex-direction: column;
    }

    .tiposLotes{
        text-align: center;
    }
}