@media (max-width: 992px){
    .mapa{

        padding-top: 155px;

        .distancia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img{
            margin: auto;
            margin-top: 40px;
            width: 400px;
            display: flex;
            align-items: center;
        }

    }
}

@media (max-width: 576px){

    .items-index{
        display: flex;
        flex-direction: column;
    }

    .contacto{
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .redes{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    .mapa{

        padding-top: 155px;

        .distancia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img{
            margin: auto;
            margin-top: 40px;
            width: 400px;
            display: flex;
            align-items: center;
        }

    }

    .cape-coral{
        display: flex;
        flex-direction: column;
    }

    .lehigh{
        display: flex;
        flex-direction: column;
    }
}