@media (max-width: 992px){
    .mapa{

        padding-top: 155px;

        .distancia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .flip-card{
            margin-top: 190px;
            margin-bottom: 90px;
            display: flex;
            align-items: center;
        }

    }

    .galería-lehigh{

        gap: 20px;
        max-width: 800px;

    }

    .cape-coral{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lehigh{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lotesContenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 855px){

    .galería-lehigh{

        gap: 20px;
        max-width: 600px;

    }

}

@media (max-width: 576px){

    .items-index{
        display: flex;
        flex-direction: column;
    }

    .contacto{
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        .redes{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4rem;
        }

    }

    .mapa{

        padding-top: 155px;
        display: flex;
        flex-direction: column;

        .distancia{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img{
            width: 300px;
        }

        .flip-card{
            margin-top: 170px;
            margin-bottom: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .galería-lehigh{

        gap: 10px;
        max-width: 300px;
        display: grid;
        grid-template-columns: repeat(2 1fr);

        .item-1{
            grid-column: span 2;
            grid-row: span 1;
        }
    
        .item-2{
            grid-column: span 1;
            grid-row: span 1;
        }
    
        .item-3{
            grid-column: span 1;
            grid-row: span 1;
        }
    
        .item-4{
            grid-column: span 2;
            grid-row: span 1
        }

        .img-galería{
            height: 200px;
        }

    }

    .cape-coral{
        display: flex;
        flex-direction: column;
    }

    .lehigh{
        display: flex;
        flex-direction: column;
    }

    .tiposLotes{
        text-align: center;
    }
}