@use "./reset";
@use "./header";
@use "./footer";
@use "./fuentes";
@import "./variables";


.carrusel{
    padding-top: 150px;
    width: 90%;
    margin: auto;
}

.cape-coral , .lehigh{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiposLotes{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-principal;
    color: $color-letras;
    height: 200px;
}


.lotesContenedor{

    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 100px;

    .lotes{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 300px;
    
        h2{
            margin-bottom: 1.5rem;
            font-size: 20px;
            color: $color-principal;
        }

        .img__lotes{
            width: 300px;
        }
    }
    
    .hidden {
        display: none;
        margin-top: 1rem;
    }
    
    .btn-primary {
        margin-top: 2rem;
        background-color: $color-principal;
        color: $color-letras;

        &:hover {
            background-color: $color-principal-hover;
            color: $color-letras-hover;
        }
    }

}
