@use "./reset";
@use "./header";
@use "./footer";
@use "./fuentes";

.nosotros{
    padding-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-align: center;
}